#!/usr/bin/env python
PACKAGE = 'spatio_temporal_voxel_layer'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("min_obstacle_height", double_t, 0, "Minimum height of obstacles to detect", 0.0, 0.0, 3.0)
gen.add("max_obstacle_height", double_t, 0, "Maximum height of obstacles to detect", 0.0, 0.0, 3.0)

exit(gen.generate(PACKAGE, "buffer", "MeasurementBuffer"))